<link rel="stylesheet" type="text/css" href="/css/form.css">
<%- include('../header'); %>
    <section class="form-panel">
        <div class="card">
            <div class="container">
                <form action="/admin/music/search" method="post">
                    <h2>Cadastrar Música</h2>
                    <hr>
                    <label for="term"><b>Título da música: </b></label>
                    <input type="text" placeholder="Enter the music title" name="term" required>
                    <% if (typeof message !=='undefined' ) { %>
                        <p id="message">
                            <%= message %>
                        </p>
                        <% } %>
                    <button type="submit">Pesquisar</button>
                </form>
            </div>
        </div>
    </section>
    <%- include('../footer'); %>