<link rel="stylesheet" type="text/css" href="/css/main.css">
<footer>
    <div class="dev_info">
        <p>Copyright &copy; 2024. Todos os direitos reservados.</p>
        <p>Desenvolvido por <a href="mailto:nicolas.padua.dev@gmail.com">nicolas.padua.dev@gmail.com</a></p>
    </div>
    <div class="logos">
        <img src="/assets/logo_igreja_pb.png" id="logo_igreja_mobile">
        <a href="https://vagalume.com.br">
            <img src="/assets/logo_vagalume.png" id="logo-vagalume">
        </a>
    </div>
</footer>